//- Basic Template for Template Inheritance
//- Considering the below template you can create your pug files and you have to make changes only at some points.

doctype html
html 
    head    
        title Best Dance Academy
        block scripts 
        block style 
    body 
        //- Inlcuding the navbar pug into our base pug template so that we dont have to include it in all of our child pug files and similar fot the footer.
        nav#navbar.mynav 
            ul
                div#logo
                    img(src="/static/logo.jpeg", alt="")
                    | ADA
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/contact") Contact Us]
                li #[a(href="/") Class-Info]
        block content 
        footer#footer 
            div All Copyright &copy; Reserved 2022 | Made Using Pug | By Ajmat Kathat